<?xml version="1.0"?>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    config.xml
    
    Copyright (c) 2002 by John Bair. ALL RIGHTS RESERVED.

    This program is free software; you can redistribute it and/or modify it 
    under the terms of the GNU General Public License as published by the 
    Free Software Foundation; either version 2 of the License, or (at your 
    option) any later version.
    
    This program is distributed in the hope that it will be useful, but 
    WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
    General Public License for more details.
    
    You should have received a copy of the GNU General Public License 
    along with this program; if not, write to the Free Software Foundation, 
    Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA	
    
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!DOCTYPE synthed SYSTEM "config.dtd">

<synthed>
    <instruments>
    	<!-- <instrument id="k2000" caption="K2600XS" path="instruments/kurzweil/k2000/k2000.xml"/> -->
        <instrument id="virus_c" caption="Virus C" path="instruments/access/virus_c/virus_c.xml"/>
        <instrument id="triton_rack" caption="TRITON-Rack" path="instruments/korg/triton/triton_rack.xml"/>
        <instrument id="synthdev" caption="SynthEd" path="instruments/synthed/synthdev.xml"/>
    </instruments>
    <files>
        <!-- <file wildcard="K2000 files (*.krz)|*.krz" suffix=".krz" instrument="k2000"/>
            <file wildcard="K2500 files (*.k25)|*.k25" suffix=".k25" instrument="k2000"/> -->
        <file wildcard="Sysex files (*.syx)|*.syx" suffix=".syx" instrument="virus_c"/>
        <file wildcard="TRITON PCG files (*.pcg)|*.pcg" suffix=".pcg" instrument="triton_rack"/>
    </files>
</synthed>
